<article class="post">
    <div class="title">
        <h2>{{title}}</h2>
    </div>
    <div class="content">
        <span>{{content}}</span>
    </div>
    <div class="comments">
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
</article>