<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Home</a>
            </h1>
            <nav>
                <ul>
                    {{#if loggedIn}}
                    <li>
                        <a href="/dashboard">Dashboard</a>
                    </li>
                    <li>
                        <button id="logout" class="btn-no-style">Logout</button>
                    </li>
                    {{else}}
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting the tech blog. Happy blogging, techeronis.
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>