<article class="post">
    <div class="title">
        <h1>{{post.title}}</h1>
    </div>
    <div class="meta">
        <span>({{post.content}})</span>
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
    </div>
</article>