* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(19, 179, 27);
  }

li {
    list-style: none;
    margin: 0;
    padding: 0;
}