* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }

  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header nav {
    display: inline;
    text-align: right;
  }
  
  body, html {
    padding: 10px 35px;
    height: 100%;
    color: rgb(19, 179, 27);
  }

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

a {
text-decoration: none;
color: #225ca3;
font-weight: bold;
transition: color .1s;
}

a:hover {
color: #3486eb;
}

footer {
  display: flex;
  justify-content: left;
  font-size: 90%;
  margin-bottom: 0px;
  padding-top: 50px;
}

.comment-form {
  margin-bottom: 5%;
  padding-top: 20px;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #e2fcdd;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}