* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 10px;
    background-color: rgb(37, 37, 37);
    width: 100%;
  }

  header a {
    padding-top: 10px;
  }

  header nav {
    padding-top: 10px;
    display: inline;
    text-align: right;
  }

  nav li {
    float: left;
  }
  
  body, html {
    margin: 0;
    height: 100%;
    color: rgb(19, 179, 27);
  }
  
  main {
      margin: 0 25px;
  }

#page-title {
  padding: 0 15px;
  padding-bottom: 20px;
  text-decoration: underline;
  text-align: center;
}

li {
    list-style: none;
    margin: 0;
    padding: 0 15px;
}

.newpost-title {
  background-color: rgb(59, 59, 59);
}

.title {
  background-color: rgb(59, 59, 59);
}
.comments {
  padding: 10px 0;
  border-bottom: 1px solid;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: rgb(5, 133, 11);
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #7bffa7;
}

a, li button {
text-decoration: none;
color: rgb(5, 133, 11);
font-weight: bold;
transition: color .1s;
}

a:hover {
color: #7bffa7;
}

.comment-form {
  margin-bottom: 5%;
  padding-top: 20px;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #e2fcdd;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.login-form, .signup-form, .newpost-form {
  padding-bottom: 15px;
}

.login-button, .signup-button {
  margin-top: 10px;
}

.username-fill {
  margin-bottom: 10px;
}

footer {
  justify-content: center;
  bottom: 0;
}